<div class="row">
    <div class="col-6 offset-3">
        <div class="mb-3">
            <h1>Vehicle Details</h1>
        </div>
      <div class="mb-3">
        <label for="year" class="form-label"
          >Year</label
        >
        <input
          type="text"
          class="form-control"
          id="year"
          placeholder="Year"
        />
      </div>

      <div class="mb-3">
        <label for="make" class="form-label"
          >Make</label
        >
        <input
          type="text"
          class="form-control"
          id="make"
          placeholder="Make"
        />
      </div>

      <div class="mb-3">
        <label for="model" class="form-label"
          >Model</label
        >
        <input
          type="text"
          class="form-control"
          id="model"
          placeholder="Model"
        />
      </div>
    
      <div class="mb-3">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
