<div class="row">
    <div class="col-6 offset-3">
        <div class="mb-3">
            <h1>Login Details</h1>
        </div>
      <div class="mb-3">
        <label for="email" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"
          >Password</label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
